.header{
    margin: 0 auto;
    width: 90%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: 0;
    display: flex;
    background-color: rgb(31, 31, 73);;
}